<main>
  <article class="page-container">
    <header class="page-header">
      <img class="display-picture" src="./assets/images/dinesh-dp.jpg" alt="Dinesh Haribabu">
      <p class="intro">Hello! I'm <span class="name">Dinesh Haribabu</span></p>
      <p>I'm a front-end developer focused on crafting clean and intuitive interfaces for better UX. I know how to
        create your website to run across devices. Let's get in touch.</p>
      <nav class="social-links">
        <a href="mailto:dinesh.be.gct@gmail.com" target="_blank">
          <img class="social-icon" src="./assets/images/mail.svg" alt="mail" title="mail me" />
        </a>
        <a href="https://www.facebook.com/dineshh.hari" target="_blank">
          <img class="social-icon" src="./assets/images/facebook.svg" alt="facebook" title="facebook" />
        </a>
        <a href="https://twitter.com/dinesh_haribabu" target="_blank">
          <img class="social-icon" src="./assets/images/twitter.svg" alt="twitter" title="twitter" />
        </a>
        <a href="https://www.linkedin.com/in/dinesh-frontend-dev/" target="_blank">
          <img class="social-icon" src="./assets/images/linkedin.svg" alt="linkedin" title="linkedin" />
        </a>
        <a href="https://github.com/dinesh-se" target="_blank">
          <img class="social-icon" src="./assets/images/github.svg" alt="github" title="github" />
        </a>
        <a href="https://medium.com/@dineshfeder" target="_blank">
          <img class="social-icon" src="./assets/images/medium.svg" alt="medium" title="medium" />
        </a>
      </nav>
    </header>
    <div class="skillset">
      <section class="section skills">
        <h6 class="section-header">Skills</h6>
        <img class="skill-icon" src="./assets/images/html5.svg" alt="HTML5" title="HTML5" />
        <img class="skill-icon" src="./assets/images/css3.svg" alt="CSS3" title="CSS3" />
        <img class="skill-icon" src="./assets/images/js.svg" alt="JavaScript" title="JavaScript" />
        <img class="skill-icon" src="./assets/images/typescript.svg" alt="TypeScript" title="TypeScript" />
        <img class="skill-icon" src="./assets/images/nodejs.svg" alt="node.js" title="node.js" />
      </section>
      <section class="section skills">
        <h6 class="section-header">Frameworks</h6>
        <img class="skill-icon" src="./assets/images/sass.svg" alt="Sass" title="Sass" />
        <img class="skill-icon" src="./assets/images/less.svg" alt="Less" title="Less" />
        <img class="skill-icon" src="./assets/images/angular.svg" alt="Angular" title="Angular" />
        <img class="skill-icon" src="./assets/images/rxjs.svg" alt="RxJS" title="RxJS" />
        <img class="skill-icon" src="./assets/images/react.svg" alt="React js" title="React js" />
        <img class="skill-icon" src="./assets/images/redux.svg" alt="Redux" title="Redux" />
      </section>
      <section class="section skills">
        <h6 class="section-header">Tools</h6>
        <img class="skill-icon" src="./assets/images/git.svg" alt="Git" title="Git" />
        <img class="skill-icon" src="./assets/images/gulp.svg" alt="Gulp" title="Gulp" />
        <img class="skill-icon" src="./assets/images/webpack.svg" alt="Webpack" title="Webpack" />
        <img class="skill-icon" src="./assets/images/npm.svg" alt="npm" title="npm" />
      </section>
    </div>
  </article>
</main>